body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 20px 0;
}

.waveform-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    margin: 10px;
    border: 1px solid #333;
}
